Repository quasibit/pmdb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix, eslint --cache --ext .ts,.tsx --fix, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,md,css,scss,yaml,yml}": "prettier --write",
  "*.md": ["markdownlint --fix"],
  "*.{js,jsx,ts,tsx}": [
    "eslint --cache --ext .ts,.tsx --fix"
  ],
  "*.json": [
    "eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix"
  ]
}

chore(lint): setup eslint
  .eslint/dataRules.js
  .eslint/developmentRules.js
  .eslint/generalRules.js
  .eslint/scriptRules.js
  .eslint/settings.js
  .eslintignore
  .eslintjsonrc
  .eslintrc.js
  .gitignore
  .lintstagedrc
  .nvmrc
  data/.gitkeep
  next-env.d.ts
  package.json
  pages/_app.tsx
  pages/api/hello.tsx
  pages/index.tsx
  scripts/.gitkeep
  tests/config/setup.js
  tests/config/setupAfterEnv.js
  tests/index.test.tsx
  typings/declarations.d.ts
  yarn.lock
Due: prettier --write, eslint --cache --ext .ts,.tsx --fix, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix

chore: install sass
  package.json
  yarn.lock
Due: prettier --write, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix

chore: remove sass
  package.json
  yarn.lock
Due: prettier --write, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix

chore: setup linaria
  .babelrc
  .eslint/generalRules.js
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  next.config.js
  package.json
  pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --cache --ext .ts,.tsx --fix, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix

chore(lint): setup stylelint
  .lintstagedrc
  .stylelintcache
  .stylelintignore
  .stylelintrc.json
  package.json
  pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --cache --ext .ts,.tsx --fix, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix

build(nextjs): enable react strict mode
  next.config.js
Due: prettier --write, eslint --cache --ext .ts,.tsx --fix

test: setup lint for jest and test for h1 in home
  .eslint/testRules.js
  .eslintrc.js
  jest.config.js
  package.json
  tests/index.test.tsx
  yarn.lock
Due: prettier --write, eslint --cache --ext .ts,.tsx --fix, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix

chore(lint): add jsdoc linting
  .eslint/dataOverrides.js
  .eslint/developmentOverrides.js
  .eslint/generalRules.js
  .eslint/importRules.js
  .eslint/jsdocRules.js
  .eslint/namingRules.js
  .eslint/nodeRules.js
  .eslint/reactRules.js
  .eslint/scriptOverrides.js
  .eslint/testOverrides.js
  .eslintrc.js
  .stylelintcache
  package.json
  pages/_app.tsx
  pages/api/hello.tsx
  pages/index.tsx
  yarn.lock
Due: prettier --write, eslint --cache --ext .ts,.tsx --fix, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix

chore: setup plop
  .eslint/developmentOverrides.js
  .plop/generators/component.ts
  .plop/generators/local.ts
  .plop/templates/component/Component.styles.ts.hbs
  .plop/templates/component/Component.test.tsx.hbs
  .plop/templates/component/Component.tsx.hbs
  .plop/templates/component/Component.type.ts.hbs
  .plop/templates/component/index.ts.hbs
  .plop/templates/local/.env.local.hbs
  .stylelintcache
  components/.gitkeep
  package.json
  plopfile.ts
  yarn.lock
Due: prettier --write, eslint --cache --ext .ts,.tsx --fix, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix

chore: ignore stylelint cache
  .gitignore
  .stylelintcache
Due: none

docs(readme): add project info
  README.md
Due: prettier --write, markdownlint --fix

docs(readme): add table of contents
  README.md
Due: prettier --write, markdownlint --fix

ci(github): add test workflow
  .github/workflows/test.yaml
  README.md
Due: prettier --write, markdownlint --fix

ci(github): setup code coverage upload to codecov.io
  .github/workflows/test.yaml
  README.md
  jest.config.js
  package.json
Due: prettier --write, markdownlint --fix, eslint --cache --ext .ts,.tsx --fix, eslint --cache --cache-location .eslintjsoncache --ext .json --no-eslintrc --config .eslintjsonrc --fix
